.button {
    margin-top: 2rem;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color:var(--quaternary-color);
    cursor: pointer;
    font-size: 25px;
    font-family: 'Poppins Semi-Bold', sans-serif;
    font-weight: 600;
  }
  
  .button:hover {
    transition: 300ms;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
  }

  @media only screen and (max-width: 768px) {
    .button {
      padding: 8px 30px;
      font-size: 25px;
      width: 250px;
    }
  }
  