.outerCarousel {
    display: flex;
    justify-content: center;
}

.middleImage {
    display: flex;
    position: relative;
    padding-top: 30px;
    justify-content: space-around;
    gap: 300px;
}

.leftcenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 20px ;
    
}

.rightcenter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 20px;
    
}

.textOnImage {
    background-color: rgba(225, 225, 225, 0.2);
    padding: 10px;
    margin: 0px 50px;
    font-family: 'Poppins Semi-Bold', sans-serif;
    border: solid 1px black;
}

.carouselImg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}