.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }

.container {
    display: flex;
}

.reccommendationmessage{
    text-align: center;
    width: 450px;
}