:root {
    /*Basic Site Colors*/
    --primary-color: #fff;
    --secondary-color: #000000;
    --tertiary-color: #282827;
    --quaternary-color: #d9d9d9;

    /*Aditional Colors for buttons
    Green Hue*/
    --green-hue1: #44dfa4;
    /*Blue Hues*/
    --blue-hue2: #00C3FF;
    /*Red Hues*/
    --red-hue2: #FF4848;
}


/*Fonts*/

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins Semi-Bold', sans-serif;
    font-weight: 300;
}

/*body*/
p,
li,
a{
    font-family: 'Lato Regular', sans-serif;
}

