.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

}

.description{
  font-size: 18px;
  text-align: center;
  width: 300px;
}

.quote{
  font-size: 20px;
  text-align: center;
  width: 350px;
  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
}

.logo{
  width: 300px;
}
