.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}


.illustration {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.description {
    font-size: 18px;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.description2 {
    font-size: 18px;
    text-align: left;
}

.picture {
    border-radius: 30px;
}

.chart{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .description { 
        width: 300px;
    }

    .description2 { 
        width: 300px;
    }

  }