.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gridof6img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 30px;
}

.eachimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}