.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  
  }

.quizcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.illustration{
    width: 250px;
    height: 250px;
    object-fit: contain;
    text-decoration: none;
}

.description{
    text-align: center;
}

.threeoptions{
    display: flex;
}

@media only screen and (max-width: 768px) {
    .illustration{
        width: 180px;
        height: 180px;
    }
    .threeoptions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .description{
        width: 300px;
    }
  }