.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .illustration{
    margin: 2rem;
    align-items: center;
    width: 35rem;
    height: 200px;
    object-fit: contain;
  }

  .question{
    width: 500px;
    text-align: center;
  }

  .options{
    display: flex;
  }