.results{
    text-align: center;
    margin: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

.incorrect{
    color: var(--red-hue2);
}

.correct{
    color: var(--blue-hue2);
}


.resultscontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.question{
    margin-top: 2rem;
    font-weight: 700;
}

.score{
    font-size: 25px;
}


@media only screen and (max-width: 768px) {
    .score{
        font-size: 20px;
    }

    .resultscontainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 500px;
    }

  }