.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.description {
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

@media only screen and (max-width: 768px) {
    .description {
        width: 300px;
    }
}