.button {
  font-family: 'Poppins Semi-Bold', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var( --blue-hue1);
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .active {
    background-color: var( --blue-hue3);
  }